
@{
    ViewData["Title"] = "ConfirmPayment";
}

<h2 style="text-align:center;">Payment was Successful</h2>

<form method="post">
    <button class="btn btn-default" asp-action="PaymentSuccess">Continue Shopping</button>
</form>

